<script>
  let current = "";
</script>

<style>
  .activated{
    background-color: blue;
  }
</style>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" class:activated="{current == "messi"}" on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary" class:activated="{current == "ronaldo"}" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>


<button class="btn btn-secondary" class:activated="{current == "neymar"}" on:click={() => (current = "neymar")}>
  Neymar
</button>

