<script>
  let clicked = false;
</script>

<div>
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    {#if clicked==false}
    You have to click the button!
    {:else}
    You have clicked the button!
    {/if}
  </button>
</div>
