<script>
    const tristan = {name : "Tristan",
                    things: ["Going to the gym", "Programming", "Playing chess"]};
</script>

<p>
    My name is {tristan.name} and these are some of my favourite things: {tristan.things} .
</p>
