<script>
  // Properties
  // 0 in data is 1800 in real years
  export let year = 0;
  const continents = ["europe", "asia", "americas", "africa"];
  export let continent = "all";
  var timer = false;
  let buttonvar = "Start";

  // 213 observations
  function countUp() {
    if (year == 214) {
      year = 0;
    } else {
      year++;
    }
  }

  function startTimer() {
      if (timer == false) {
        timer = setInterval(countUp, 50);
        buttonvar = "Stop";
      } else {
        clearInterval(timer);
        timer = false;
        buttonvar = "Start";
      }    
  }

  function clearTimer() {
    clearInterval(timer);
    timer = false;
    year = 0;
    buttonvar = "Start";
  }

</script>

<div class="row">
  <div class="col-4">
    <button type="button" class="btn btn-primary" on:click="{startTimer}">{buttonvar}</button>
    <button type="button" class="btn btn-primary" on:click="{clearTimer}">Reset</button>
  </div>
  <div class="col-5">
    Year: {year + 1800}
    <input 
      type="range" 
      class="form-range"
      min="0" 
      max="214"
      bind:value={year}>
  </div>
  <div class="col-3">
    <select class="form-select" bind:value={continent}>
      <option selected value="all">all</option>
      <option value="europe">europe</option>
      <option value="asia">asia</option>
      <option value="americas">americas</option>
      <option value="africa">africa</option>
    </select>
  </div>
  
</div>
