<script>
    let counter = 0;

    function handleClick(event) {
        counter += 1;
    }

    function handleReset(event) {
        counter = 0;
    }
</script>

<button type="button" class="btn btn-primary" on:click={handleClick}>Clicked {counter} times</button>
<button type="button" class="btn btn-danger" on:click={handleReset}>Reset</button> 