<script>
  import { onMount } from "svelte";
  import { scaleLinear } from "d3-scale";
  import { scaleLog } from "d3-scale";
  import { scaleOrdinal } from 'd3-scale';
  import {schemeDark2} from 'd3-scale-chromatic';
  import { extent } from 'd3-array';
  import { axisBottom} from 'd3-axis';
  import { axisLeft } from 'd3-axis';
  import { select } from 'd3-selection';
  import { format } from "d3-format";

  
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Data

  export let data = [];

  // Scales

  let incomes = data.map(d => d.income);
  let life_exps = data.map(d => d.life_exp);
  let population = data.map(d => d.population);
  let continents = data.map(d => d.continent);


  const xScale = scaleLog()
    .domain([300,150000])
    .range([0, innerWidth]);

  const yScale = scaleLinear()
    .domain([0,90])
    .range([innerHeight, 0]);

  const rScale = scaleLinear()
    .domain(extent(population))
    .range([5, 15]);

  const cScale = scaleOrdinal(schemeDark2)
    .domain(extent(continents));


  // Axis
  function xAxis(x) {
    axisBottom(xScale).tickValues([400,4000,40000]).tickFormat(format("$,d"))(select(x));
  }

  function yAxis(x) {
    axisLeft(yScale).ticks(9)(select(x));
  }


  // export 
  // export let data_final = [];


  
</script>

<!--
<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    {#each data as dp}
      <circle cx="{xScale(+dp.income)}" cy="{yScale(+dp.life_exp)}" r="{rScale(+dp.population)}" fill="{cScale(dp.con)}"/>
    {/each}
  </g>
</svg>
-->

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <text x=30% y=10% style="font-size:xx-large;">Gapminder Scatterplot</text>
  <g transform="translate({margin.left}, {margin.top})">    
      {#each data as dp}
        {#if dp.income != null && dp.life_exp != null}
          <circle cx="{xScale(+dp.income)}" cy="{yScale(+dp.life_exp)}" r="{rScale(dp.population)}" fill="{cScale(dp.continent)}"/>
        
          {/if}
      {/each}
  </g>
  <g use:xAxis transform="translate({margin.left}, {innerHeight+margin.bottom})"></g>
  <g use:yAxis transform="translate({margin.left}, {margin.bottom})"></g>
  <text x=45% y=97.5% style="font-size:large;">GDP per Capita</text>
  <text x=25% y=50% style="font-size:large;" transform="translate(-180,410) rotate(-90)">Life Expectancy</text>
  <text x=87.5% y=85% style="font-size:xx-large;" fill="gray"> 1800</text>
</svg>










