<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  import { scaleLog } from 'd3-scale';
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';
 // import { select_multiple_value, text } from 'svelte/internal';  
 // import Svg from '$lib/ui/SVG.svelte';

  const scale = scaleLog()
    .domain([1,10])
    .range([0,innerWidth]);

  function xAxis(x) {
    axisBottom(scale)(select(x));
  }


  
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as datapoint}
    <circle cx = {scale(datapoint)}
            cy = 45
            r = 10 
            fill = "#4682b4"/>
    {/each}
  </g>
  <g transform="translate({margin.left}, 70)" use:xAxis> </g>
  
  <text x="55%" y="95%" text-anchor="middle" style="font-size:x-small;" fill="currentcolor">x label</text>
  
</svg>


