<script>

    import Scatterplot from './_ex_7_scatterplot.svelte';
    import { json } from 'd3-fetch';
    import { onMount } from 'svelte';
    import Card from '$lib/ui/Card.svelte';

//import countries from 'static/data/gapminder.json'



 let datapoints = null;
 onMount(async () => {
    
    const data = await json('/data/gapminder.json');
    datapoints = data[0].countries;
 });
$: console.log(datapoints);

    // how to select data
    // <Scatterplot data={datapoints[0]}></>

// console.log(datapoints.length);


</script>



{#if datapoints == null}
  <p>The data is being loaded.</p>
{:else}
  <Scatterplot data={datapoints}/>
{/if}


